*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

/*Ini bagian Header bagian atas*/
.header-top .navbar{
    height: 40px;
}
.header-top .container-kiri, .header-top .container-kanan{
    font-size: 15px;
}
.header-top .container-kiri a{
    color: rgb(211, 197, 0);
}
.header-top .container-kanan a{
    color: black;
    padding-left: 5px;
}
.header-top .container p a:hover{
    color:  rgb(150, 140, 0);
}
/*Sampai sini*/
